$textColor: rgb(16, 55, 103);
$track-width: 12.5em;
$track-height: 0.25em;
$thumb-d: 1.5em;

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  background: rgb(233, 233, 233);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  border-radius: 5px 5px;
  height: 7vh;
  a {
    display: inline-block;
    margin: 1em;
  }
}

.nav-container {
  @include flexCenter(row);
  justify-content: space-between;
}

.channel-label-container {
  @include flexCenter(row);
  h3 {
    color: $textColor;
    margin-left: 9em;
    margin-right: 9em;
  }
}

.game-container {
  @include flexCenter(column);
  justify-content: flex-start;
  width: 100vw;
  height: 60vh;
  span {
    color: $textColor;
    margin: 15px;
    width: 20vw;
    text-align: center;
  }
}

.faders {
  @include flexCenter(row);
  justify-content: space-between;
  width: 50vw;
  div {
    @include flexCenter(row);
    margin-left: 25px;
    margin-right: 25px;
  }
}

.fader-labels-container {
  @include flexCenter(row);
  justify-content: space-between;
  width: 42vw;
  div {
    @include flexCenter(row);
    justify-content: space-evenly;
    width: 10vw;
  }
}

.fader-label {
  margin: 20px;
  color: $textColor;
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.sounds-container {
  @include flexCenter(row);
  justify-content: space-evenly;
  height: 15vh;
  width: 60vw;
  //margin: 5px;
  div {
    margin-left: 5em;
    margin-right: 5em;
  }
}

.source {
  height: 5rem;
  width: 5rem;
  background-color: rgb(2, 6, 11);
  border-radius: 50%;
  //box-shadow: 5px 5px rgb(90, 106, 130);
  &:hover {
    background-color: rgb(19, 44, 74);
  }
}

.target {
  height: 5rem;
  width: 5rem;
  background-color: rgb(0, 0, 1);
  border-radius: 50%;
  //box-shadow: 5px 5px rgb(113, 97, 113);
  &:hover {
    background-color: rgb(46, 14, 46);
  }
}

.pitch-slider-wrapper {
  float: left;
  position: relative;
  margin-left: 4em;
  margin-right: 4em;
  padding: 0.5em;
  height: $track-width;
  width: $thumb-d;
}

.pitch-slider {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 50px;
    border-radius: 3px;
    background: #202450;
    cursor: pointer;
  }
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  outline: none;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: $track-width;
  height: $thumb-d;
  transform: translate(-50%, -50%) rotate(90deg);
  font: 1em/1 arial, sans-serif;
  background: #545353;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

#about {
  @include flexCenter(column);
  margin-top: 5vh;
  div {
    text-align: center;
    color: $textColor;
    margin: 20px;
    width: 60vw;
    h3 {
      margin: 1px;
    }
  }
}

.hint {
  @include flexCenter(row);
  width: 100vw;
  height: 5vh;
  justify-content: space-evenly;
  color: $textColor;
  margin: 10px;
  text-align: center;
  p {
    width: 15vw;
    margin: 1px;
  }
  span {
    width: 50vw;
    margin-top: 20px;
  }
}

a {
  text-decoration: none;
  color: $textColor;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}
