$textColor: rgb(16, 55, 103);

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

.source {
  height: 50px;
  width: 50px;
  background-color: rgb(33, 66, 106);
  border-radius: 5px 5px 5px 5px;
}

.target {
  height: 50px;
  width: 50px;
  background-color: rgb(72, 25, 72);
  border-radius: 5px 5px 5px 5px;
}

.pitch {
  @include flexCenter(column);
  height: 250px;
  width: 50px;
  background-color: rgb(42, 47, 55);
  border-radius: 5px 5px 5px 5px;
}

.pitch-slider {
  height: 20px;
  width: 20px;
  background-color: rgb(125, 121, 125);
  border-radius: 20px 20px 20px 20px;
}

body {
  height: 100vh;
  background: linear-gradient(rgb(208, 222, 242), rgb(42, 75, 113));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homepage-info {
  @include flexCenter(column);
  p {
    color: $textColor;
  }
}

.game-container {
  @include flexCenter(row);
}

.source-container {
  margin-right: 20vw;
}

#about {
  @include flexCenter(column);
  margin-top: 20vh;
}

a {
  text-decoration: none;
  color: $textColor;
}

label {
  display: block;
}

nav {
  height: 5vh;
  a {
    display: inline-block;
    margin: 1em;
  }
}

form div {
  margin: 1em;
  display: inline-block;
}
