$textColor: rgb(16, 55, 103);
$track-width: 12.5em;
$track-height: 0.25em;
$thumb-d: 1.5em;

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin ttWheel($width, $height) {
  position: absolute;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 1px solid rgb(99, 99, 99);
}

body {
  height: 100vh;
  background: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  border-radius: 5px 5px;
  height: 7vh;
  a {
    display: inline-block;
    margin: 1em;
  }
}

.nav-container {
  @include flexCenter(row);
  justify-content: space-between;
}

// .container {
//   @include flexCenter(column);
// }

.homepage-container {
  @include flexCenter(column);
  height: 60vh;
}

.center-game {
  @include flexCenter(column);
}

.game-container {
  @include flexCenter(row);
  justify-content: flex-start;
  width: 60vw;
  //height: 60vh;
  margin: 1rem;
  div {
    text-align: center;
    margin: 10px;
  }
}

.channel-container {
  @include flexCenter(column);
  width: 60vw;
}

.faders-container {
  @include flexCenter(row);
  justify-content: center;
}

.fader-with-label {
  @include flexCenter(column);
  width: 6vw;
}

.fader-label {
  margin: 20px;
  color: $textColor;
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.tt-vinyl {
  @include flexCenter(column);
  height: 8rem;
  width: 8rem;
  margin: 3rem;
  background-color: rgb(5, 5, 5);
  border-radius: 50%;
  &:hover {
    background-color: rgb(20, 20, 20);
  }
  //animation-name: tt-spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.tt-wheel {
  @include flexCenter(column);
  @include ttWheel(7em, 7rem);
  border: 2px solid grey;
}

.tt-middle-wheel {
  @include flexCenter(column);
  @include ttWheel(6em, 6rem);
}

.tt-center-wheel {
  @include flexCenter(column);
  @include ttWheel(5em, 5rem);
  border: 2px solid grey;
}

.tt-cover {
  @include flexCenter(column);
  height: 12.5rem;
  width: 3.5rem;
  background-color: rgb(12, 12, 12);
  border-radius: 30px;
  z-index: 999;
}

.tt-label {
  @include flexCenter(column);
  height: 1.75rem;
  width: 1.75rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.tt-spindle {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  height: 0.25rem;
  width: 0.25rem;
}

.sound {
  height: 7rem;
  width: 7rem;
  margin: 3rem;
  background-color: rgb(2, 6, 11);
  border-radius: 50%;
  &:hover {
    background-color: rgb(45, 49, 55);
  }
}

.change-sound {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  //display: none;
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #444;
  //line-height: 1.3;
  padding: 0.4em 1em 0.3em 0.5em;
  width: 40%;
  //max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

// .target {
//   height: 6rem;
//   width: 6rem;
//   margin: 20px;
//   background-color: rgb(0, 0, 1);
//   border-radius: 50%;
//   //box-shadow: 5px 5px rgb(113, 97, 113);
//   &:hover {
//     background-color: rgb(46, 14, 46);
//   }
// }

.pitch-slider-wrapper {
  float: left;
  position: relative;
  margin-left: 4em;
  margin-right: 4em;
  padding: 0.5em;
  height: $track-width;
  width: $thumb-d;
}

.pitch-slider {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 50px;
    border-radius: 3px;
    background: #202450;
    cursor: pointer;
  }
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  outline: none;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: $track-width;
  height: $thumb-d;
  transform: translate(-50%, -50%) rotate(90deg);
  font: 1em/1 arial, sans-serif;
  background: #545353;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

#about {
  @include flexCenter(column);
  margin-top: 5vh;
  div {
    text-align: center;
    color: $textColor;
    margin: 20px;
    width: 60vw;
    h3 {
      margin: 1px;
    }
  }
}

.tutorial-info {
  @include flexCenter(column);
  color: $textColor;
  //width: 60vw;
  li {
    margin: 10px;
    width: 60vw;
  }
}

.hint-top {
  @include flexCenter(row);
  width: 100vw;
  height: 5vh;
  justify-content: center;
  color: $textColor;
  text-align: center;
  p {
    width: 15vw;
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

.hint-bottom {
  @include flexCenter(row);
  justify-content: space-evenly;
  height: 20vh;
  color: $textColor;
  text-align: center;
  span {
    width: 20vw;
  }
}

a {
  text-decoration: none;
  color: $textColor;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

// @keyframes tt-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
